/* styles/Home.module.css */
.container {
    padding: 20px;
    text-align: center;
  }
  
  .title {
    font-size: 2em;
    font-weight: bold;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    flex: 0 1 300px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .image {
    width: 100%;
    height: auto;
  }
  
  .name {
    font-size: 1.5em;
  }
  
  .description {
    font-size: 1em;
  }
  
  .price {
    color: green;
    font-weight: bold;
  }
  