/* components/ProductCard.module.css */
.card {
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background: white;
  }
  
  .image {
    width: 100%;
    height: auto;
  }
  
  .name {
    font-size: 1.5em;
  }
  
  .description {
    font-size: 1em;
  }
  
  .price {
    color: green;
    font-weight: bold;
  }
  